body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #f4f7f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    color: #2c3e50;
}

.filtros {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.filtros label {
    margin-right: 10px;
    font-weight: bold;
}

.filtros select, .filtros input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.dashboard-grid {
    display: grid;
    /* Ajustado para 2 colunas em telas maiores, e 1 em telas menores */
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

@media (max-width: 900px) {
    .dashboard-grid {
        grid-template-columns: 1fr;
    }
}


.chart-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.chart-container h2 {
    text-align: center;
    margin-top: 0;
    font-size: 1.2em;
    color: #34495e;
}

/* Estilos para os novos filtros */
.filtro-item {
    display: flex;
    flex-direction: column;
    margin: 5px 15px;
}

.filtro-item label {
    margin-bottom: 5px;
    font-size: 0.9em;
}
.filtro-item button {
    padding: 8px 16px;
    border: none;
    background-color: #3498db;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    align-self: flex-end; /* Alinha o botão com a base dos inputs */
    margin-top: 15px;
}
.filtro-item button:hover {
    background-color: #2980b9;
}
